<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>python_arith</title>
</head>
<body>

<p><b>divmod(x,y):</b><p>
<ul style="list-style-type:none">
    <li>parameter:</li>
    <ul style="list-style-type:none">
        <li>x: a non-complex number (numerator)</li>
        <li>y: a non-complex number (denominator)</li>
    </ul>
    <li>return:</li>
    <ul style="list-style-type:none">
        <li>(q, r) - a pair of numbers (a tuple) consisting of quotient q and remainder r</li>
    </ul>
</ul>

</body>
</html>